html {
    background-color: #006b60;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 85%;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

hr {
    border: solid 4px black;
    border-radius: 10px;
    background-color: black;
    width: 100%;
}

/* TODO LIST */
#todo_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.todo_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 7px 2% 7px 2%;
    border: solid 2px black;
    border-radius: 7px;
    margin-top: 4px;
    background-color: #00728f;
    align-items: center;
}

.delete-btn {
    background-color: #ff4d39;
    border: solid 3px #ff4d39;
    border-bottom: solid 3px #e93c28;
}

.isComplete {
    background-color: #48d470;
    border: solid 3px #48d470;
    border-bottom: solid 3px #3eb660;
}

.notComplete {
    background-color: white;
    border: solid 3px white;
    border-bottom: solid 3px #cccccc;
}

.todo_item button {
    width: 5.5%;
    height: 35px;
    font-size: 20px;
    color: black;
    border-radius: 7px;
}

.todo_item button:hover { border: solid 3px black; }

/* FILTERS */
#filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media (max-width:1200px) {
    #filters {
        flex-direction: column;
        justify-content: center;
    }
}

#filters_btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#filters_btns button {
    height: 40px;
    width: 180px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 16px;
    color: black;
    border-radius: 7px;
    border: solid 3px white;
    border-bottom: solid 3px #cccccc;
    background-color: white;
}

#filters_btns button:hover { border: solid 3px black; }

#remaining {
    text-align: center;
    font-size: 22px;
}

/* NEW TASK */
#new_task {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#new_task_name, #add_task {
    border-radius: 7px;
    text-align: center;
}

#new_task_name {
    height: 32px;
    width: 60%;
    font-size: 16px;
    border: solid 3px white;
    border-bottom: solid 3px #cccccc;
    background-color: white;
}

#add_task {
    height: 40px;
    margin-left: 7px;
    font-size: 30px;
    background-color: #48d470;
    border: solid 3px #48d470;
    border-bottom: solid 3px #3eb660;
}

#new_task_name:hover, #add_task:hover {
    border: solid 3px black;
}